.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(20% - 20px); /* 20% for 5 items per row minus the total margin */
    height: 300px;
    background-color: var(--card-color);
    margin: 10px; /* 10px margin on all sides */
    border-radius: 20px;
    box-sizing: border-box; /* Include padding and border in the width */
}
.text-content h4 {
    margin: 5px 2px 5px 2px;
    text-align: center;
    height: 50px;
    line-height: 20px;
    text-wrap: wrap;
}
.text-content h5 {
    margin-left: 10px;
}
.image-container {
    width: 100%;
    background: #4ca46f;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.add-button {
	border: none;
    border-radius: 10px;
	font-size: 14px;
	font-weight: 600;
    padding: 10px;
    margin: 0 5px 5px 5px;
	color: #fff;
	background-color: #4ca46f;
    width: 90%;
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
    transition: all .2s ease-in-out;
}
.add-button:hover {
    background-color: #5ac083;
}