.counter {
    width: 40vw;
    height: 40vh;
    margin: 20px;

}



.progress-circle {
  position: relative;
  width: 250px;
  height: 250px;
}

.circle-bg {
  stroke-dasharray: 692; /* Approximate circumference of the circle (2 * Math.PI * r) */
  stroke-dashoffset: 0;
}
/* ... same as before ... */

.circle {
  stroke-dasharray: 692; /* Approximate circumference of the circle (2 * Math.PI * r) */
  stroke-dashoffset: 692; /* Start with a full offset (circle not shown) */
  transition: stroke-dashoffset 0.6s ease 0s;
  transform-origin: center;
  transform: rotate(90deg); /* This rotation starts the progress from the bottom */
}

/* ... same as before ... */


.inside-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
  font-family: Arial, sans-serif;
}
