.start-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.start-set input {
    margin: 10px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: var(--shadow);
}

.start-set button {
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    border: none;
    background: #4CA46F;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    width: 10%;
    font-size: 1.2rem;
    font-weight: bold;

}
