.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: green;
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--shadow);
}
